<div class="row">
  <div class="col-md-3 mb-5" *ngFor="let movie of movies">
    <img
      [src]="movie.poster_path | poster"
      class="img-fluid poster"
    />
    <div>
      <h3>{{ movie.title }}</h3>
      <div class="row text-white">
        <div class="col-10">
          <ngb-rating [rate]="movie.vote_average" [starTemplate]="t" [readonly]="true" [max]="10"></ngb-rating>
        </div>
        <div class="col-2">
          {{ movie.vote_average | number: "1.1" }}
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
  </span>
</ng-template>

