<div class="alert" role="alert" [ngClass]="alert">
  This is a success alert with
  <a href="#" class="alert-link" [appHighlight]="'orange'">an example link</a>. Give it a click if you
  like.
</div>

<button type="button" class="btn btn-info" (click)="alert = 'alert-info'">
  Info
</button>
<button type="button" class="btn btn-success" (click)="alert = 'alert-success'">
  Success
</button>

<br /><br />

<h3
  [ngClass]="{
    'text-danger': properties.danger,
    'text-info': !properties.danger
  }"
>
  Hello World
</h3>

<button
  type="button"
  class="btn"
  [ngClass]="{
    'btn-danger': properties.danger,
    'btn-info': !properties.danger,
    'test': !loading
  }"
  (click)="properties.danger = !properties.danger"
>
  Change
</button>

<br /><br />
<h3>Asynchronous Process</h3>

<button type="button" class="btn btn-primary" (click)="execute()" [disabled]="loading">
  <i
    [ngClass]="{ 'fa-save': !loading, 'fa-refresh fa-spin': loading }"
    class="fa"
  ></i>
  <span *ngIf="!loading"> Save changes</span> 
  <span *ngIf="loading"> Saving</span> 
</button>
